*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --accent-color: #9CFF2E;
    --text: lightgrey;
}

body{
    background-color: #222831;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.container{
    width: 400px;
    height: 520px;
    /* background-color: lightgray; */
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.container .heading{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
}


.password-container{
    padding: 0px 15px;
    background-color: #31363F;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password-container h1{
    text-transform: capitalize;
    color: lightgrey;
}
.password-container button{
    outline: 0;
    border: 0;
    background: transparent;
    color: var(--accent-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.ranges{
    /* background-color: palegoldenrod; */
    width: 100%;
    height: 350px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #31363F;
}

.range-container{
    /* background-color: green; */
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.range-container label{
    text-transform: capitalize;
}

.range-container input{
    accent-color: var(--accent-color);
}

.range-container span{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    right: 10px;
    color: var(--accent-color);
}

.checkbox-container{
    /* background-color: firebrick; */
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkbox-container div{
    /* background-color: saddlebrown; */
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkbox-container div input{
    accent-color: var(--accent-color);
    font-size: 1.2rem;
    width: 20px;
    height: 20px;
}

.checkbox-container div label{
    text-transform: capitalize;
    font-weight: 500;
}

.generate-password{
    padding: 15px 0px;
    outline: 0;
    border: 0;
    background: var(--accent-color);
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
}